.main {
  /*width: 1180px;*/
  margin: 0 auto;
}

.col {
  padding: 0 10px;
}

.content-col {
  /*width: 860px;*/
  width: 100%;
  float: left;
}

.sidebar-col {
  /*width: 280px;*/
  width: 100%;
  float: right;
}

.posts-menu {
  float: left;
  clear: both;
  /*width: 180px;*/
  /*text-align: right;*/
  float: left;
}

.posts {
  padding: 10px;
  margin-bottom: 1.5em;
  background: #929292;
  background: rgba(14,14,14,.65);
  /*box-shadow: 5px 5px 10px rgba(0,0,0,.66);*/
  width: 620px;
  float: right;
}

.clear {
  clear: both;
}

.post-spinner {
  color: #fff;
  font-size: medium;
  margin-left: 15px;
}

.post {
  background-color: inherit;
  width: 100%;
  margin: 0px auto 5px auto;
  /*border: 1px solid #ccc;*/
  position: relative;
  display: flex;
  padding-bottom: 2px;
  cursor: pointer;
}

.posts-menu a {
  display: inline-block;
  text-decoration: none;
  color: dodgerblue;
  padding: 3px;
  margin-left: 10px;
}

.post-upvotes {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0px 8px;
}

.post-upvotes-icon {
  color: #fff;
  padding: 4px;
}

.post-upvotes-upvotes {
  padding: 5px;
  font-size: smaller;
  color: #fff;
}

.post-thumbnail {
  max-width: 80px;
  min-width: 80px;
  border-radius: 2px;
  height: 80px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  /*padding: 0;*/
}

.post-thumbnail img {
  object-fit: cover;
  width: 80px;
  height: 80px;    
}

.post-item-details-meta {
  color: #c9c9c9;
}

.post-author:hover {
  color: goldenrod;
}

.post-created {
  opacity: .4;
}

.paginator-links {
  float: right;
}

.paginator-page {
  width: 40px;
  padding: 10px;
  color: #fff;
}

.paginator-arrow {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.paginator-links a {
  background: #219b62;
  border-radius: 3px;
  padding: 4px 8px 2px 8px;
  cursor: pointer;
  
}

.paginator-links a.inactive {
  opacity: .3;
}

.post-item-details {
  padding: 4px 4px 4px 8px;
  line-height: 20px;
}

.post-item-details-title {
  text-overflow: ellipsis;
  color: #fff;
}

.post-item-details-created {
  color: #fff;
}

.post-channel {
  background-color: darkseagreen;
  color: #111;
  padding: 3px;
  border-radius: 4px;
  font-size: smaller;
}

.post-url {
  text-decoration: none;
  color: darkseagreen;
}

.post-url:hover {
  color: lightseagreen;
}

.post-item-comments {
  margin-left: 3px;
}

.post-item-comments-comments {
  text-decoration: none;
  color: #c9c9c9;
  display: inline-block;
}

.post-item-comments-comments:hover {
  color: goldenrod;
}
