
.posts {
  padding: 10px;
  margin-bottom: 1.5em;
  width: 620px;
  float: right;
}

.clear {
  clear: both;
}

.post-spinner {
  color: #fff;
  font-size: medium;
  margin-left: 15px;
}

.post {
  background-color: rgb(255, 255, 255) !important;
  margin: 0px auto 10px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px #dddddd;
}

.posts-menu a {
  display: inline-block;
  text-decoration: none;
  color: dodgerblue;
  padding: 3px;
  margin-left: 10px;
}

.post-upvotes {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0px 8px;
}

.post-upvotes-icon {
  color: #fff;
  padding: 4px;
}

.post-upvotes-upvotes {
  padding: 5px;
  font-size: smaller;
  color: #fff;
}

.post-thumbnail {
  max-width: 80px;
  min-width: 80px;
  border-radius: 2px;
  height: 80px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  /*padding: 0;*/
}

.post-thumbnail img {
  object-fit: cover;
  width: 80px;
  height: 80px;    
}

.post-item-details-meta {
  color: rgba(248, 248, 255, 0.88);
}

.post-author:hover {
  color: limegreen;
}

.post-created {
  opacity: .4;
}

.paginator-links {
  
}

.paginator-page {
  width: 40px;
  padding: 10px;
  color: #fff;
  font-family: monospace;
  font-size: large;
}

.paginator-link-prev, .paginator-link-next {
  padding: 3px 6px 3px 6px;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
  background: #343436;
  border: none;
  color: ghostwhite;
}

.hide_prev_button {
  display: none;
}

.post-item-details {
  padding: 4px 4px 4px 8px;
  line-height: 20px;
}

.post-item-details-title {
  text-overflow: ellipsis;
}

.post-item-details-created {
  color: #fff;
}

.post-url {
  text-decoration: none;
  color:lightseagreen;
}

.post-url:hover {
  color: limegreen;
}

.post-item-comments {
  margin-left: 3px;
}

.post-item-comments-comments {
  text-decoration: none;
  color: #c9c9c9;
  display: inline-block;
}

.post-item-comments-comments:hover {
  color: limegreen;
}


/* Grid Layout for the Posts */
.post-grid-item {
  border: 1px solid black;
  max-height: 300px;
  overflow: hidden;
}