.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: #e9e9e9;
}

.main-content {
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.feed-sidebar {
  float: right;
  background-color: #fff;
  border: 1px solid #ccc;
}

.feed-form {
  display: relative;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.feed-form p {
  text-align: center;
  background: goldenrod;
  padding: 3px;
  color: #fff;
  border-radius: 2px;
  height: 19px;
}

.feed-form form {
  width: 100%;
  margin: 0 auto;
}

.feed-form form label {
  color: #000;
  opacity: 0.9;
}

.feed-form form input, .feed-form form button {
  width: 100%;
  border: 1px solid #ccc;
  height: 22px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 5px;
}

.feed-form button[type="submit"] {
  height: 30px !important;
  width: 100.5% !important;
  background-color: ghostwhite;
}

.feed-form-input-channel {
  margin-bottom: 5px;
  height: 20px;
}

.feed-graph p {
  text-align: center;
}

.clear {
  clear: both;
}