.App {
  width: 90%;
  margin: 5px auto;
}

.feedform {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 2px 10px 0 10px;
}

.feed-social-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 2px;
  background-color:  #5bc0de;
  color: white;
  font-size: 22px;
}
