.post-container {
  margin-bottom: 60px !important;
}

.post-item {
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.post-item-details {
  display: flex;
  padding-left: 5px;
}

.post-item:hover {
  background: #eee;
}

.post-item-voting {
  padding-top: 8px;
}

.post-item-details {
  border-left: 2px solid #ddd;
}

.post-item-oembed {
  margin-right: 10px;
  max-height: 100px;
  overflow-y: hidden;
  display: flex;
}

.post-item-oembed-thumbnail {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
}

.post-item-oembed-thumbnail img {
  width: 90px;
}

.post-paginator {
  margin-top: 10px;
}

.post-item-details-text {
  margin-left: 5px;
}

.post-item-details-text p {
  margin: 0 0 0px;
}