.posts {
  position: relative;
  float: left;
  margin: auto;
  width: 70%;
}

.post {
  background-color: #fff;
  width: 100%;
  margin: 0px auto 5px auto;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  padding-bottom: 2px;
}

.post-upvotes {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0px 8px;
}

.post-upvotes-icon {
  color: rgba(0,0,0, 0.8);
  padding: 4px;
}

.post-upvotes-upvotes {
  padding: 5px;
  font-size: smaller;
}

.post-thumbnail {
  max-width: 80px;
  border-radius: 2px;
  height: 75px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
}

.post-thumbnail img {
  object-fit: cover;
  width: 80px;
  height: 80px;    
}

.paginator-links {
  float: right;
}

.paginator-page {
  width: 40px;
  padding: 10px;
  color: brown;
}

.paginator-arrow {
  color: #000;
}

.paginator-links a {
  background: goldenrod;
  border-radius: 3px;
  color: #fff;
  padding: 3px;
  cursor: pointer;
}

.paginator-links a.inactive {
  opacity: .3;
}

.post-item-details {
  padding: 4px 4px 4px 8px;
  line-height: 20px;
}

.post-item-details-title {
  text-overflow: ellipsis;
}

.post-channel {
  background-color: goldenrod;
  color: #fff;
  padding: 3px;
  border-radius: 4px;
  font-size: smaller;
}

.post-url {
  text-decoration: none;
  color: brown;
}

.post-item-comments {
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 5px;
}

.post-item-comments-comments {
  text-decoration: none;
  color: saddlebrown;
}