.post-container {
  margin-bottom: 60px !important;
}

.post-item {
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
}

.post-item-details {
  display: flex;
}

.post-item:hover {
  background: #eee;
}

.post-item-voting {
  padding-top: 8px;
}

.post-item-details {
  border-left: 2px solid #ddd;
}

.post-item-oembed {
  margin-right: 10px;
  max-height: 100px;
  overflow-y: hidden;
  display: flex;
}

.post-item-oembed img {
  width: 100px;
}

.post-paginator {
  margin-top: 10px;
}