.comment-post {
  display: flex;
}

.comment-post-details {
  padding-left: 15px;
}

.comment-post-reaction {
  display: flex;
  flex-direction: column
}

.comment-comment {
  margin-top: 15px;
  padding-left: 5px;
}

.comment-form {
  display: flex;
  margin-bottom: 10px;
}

.comment-form-input {
  margin-right: 4px;
  border-radius: 2px !important;
}

.comment-item-username {
  margin-right: 5px;
}