.register-form-container {
  background: rgba(35, 35, 35, 1);
  padding-bottom: 50px;
  border-radius: 2px;
}

.register-form-title {
  font-size: large;
  text-align: center;
  color: rgba(255,255,255,0.8);
  padding: 20px 0 0 0px;
}

.register-form {
  margin: 30px auto;
  padding: 10px;
  position: relative;
  max-width: 380px;
}

.register-form-input-username,
.register-form-input-email,
.register-form-input-password {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 100%;
  color: white;
  font-size: 18px;
  height: 54px;
  margin-left: 0px;
}

.register-form-icon-user {
  position: absolute;
  top: 45px;
  right: 20px;
  color: white;
  cursor: pointer;
}

.register-form-icon-email {
  position: absolute;
  top: 115px;
  right: 20px;
  color: white;
  cursor: pointer;
}

.register-form-icon-password {
  position: absolute;
  top: 185px;
  right: 20px;
  color: white;
  cursor: pointer;
}

.register-form-button {
  height: 48px;
  width: 100%;
  border: 0px;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
  margin-left: 0px;
}

.login-link-section {
  display: block;
  margin: 30px auto;
  width: 50%;
  color: ghostwhite;
  text-align: center;
}

.login-link-section button {
  color: darkcyan;
  background: ghostwhite;
  border-radius: 4px;
  height: 30px;
}

.login-link-section button a {
  color: black;
  text-decoration: none;
}
