.main-navbar {
    position: fixed;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
} /* remove class .navbar-fixed-top from and add class .main-navbar to <nav/> for a sticky header */

.navbar-fixed-top {
    border-bottom: 3px solid darkseagreen;
}